<html>
  <head>
      <style>
      body {
        <%if response.include?("way")%>
            background: red;
        <%elsif response.include?("high") || response.include?("low")%>
            background: lightcoral;
        <%elsif response == "correct"%>
            background: green;
        <%end%>
        }  
      </style>
  </head>
  <body>
    <%if response.include?("high") || response.include?("low")%>
      <%if response.include?("way")%>
        <p>
            Way too <%=response[4..-1]%>!
        </p>
      <%else%>
          Too <%= response%>!
      <%end%>
    <%elsif response == "correct"%>
      <p>
        You got it right!
      </p>
      <p>
        The secret number is <%= number %>. 
      </p>
      <p>
        Generating new number... 
      </p>
    <% elsif response == 'lost'%>
      <p>
        You lost.
      </p>
       <p>
        Generating new number... 
      </p>        
    <%end%>
    <p>
      You have <%= guesses%> guesses left.
    </p>
    <%if cheat%>
        <p>
            The secret number is <%= number %>, cheater.  
        </p>
    <%end%>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
